footer
{
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font: var(--font-sm);
}

footer ul
{
  display: flex;
  gap: 20px;
  padding-block: 6.5px;
}