#about
{
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--font-md);
}

#profile
{
  display: flex;
  gap: 32px;
}

#profile img
{
  width: 176px;
  height: 176px;
  border-radius: 50%;
  object-fit: cover;
}

#profile > div
{
  max-width: 384px;
}

#profile h1
{
  font: var(--font-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile p
{
  padding-inline-end: 47px;
}

#info
{
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#info li
{
  display: flex;
  align-items: center;
  gap: 8px;
}