#nav-top
{
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-top ul
{
  display: flex;
  align-items: center;
  gap: 24px;
  padding-block: 8px;
}

#nav-top ul li a svg path:hover
{
  width: 200px;
  fill: var(--brand-color);
}

#nav-top ul li:last-child img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
} 